body{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas: 
    "navbar" 100px
    "asidebar" 50px
    "main" auto
    "footer" 100px;
}


.nav{
    grid-area: nav;
    background-color: aqua;
}
.main{
    grid-area: main;
   
    

}
.aside{
    grid-area: aside;
    background-color: chartreuse;
    color: black;
}
.footer{
    grid-area: footer;
    background-color: rgb(80, 173, 228);
}


.card{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    height: 310px;
    width: 286px;
}
/*body{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 10fr 1fr;
    grid-template-areas: "nav" "aside" "main" "footer";
}*/