body{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.container{
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas: 
    "header" 
    "aside" 
    "main" 
    "pag"
    "footer" 
}
.header_menu{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin: 20px;
}

.menu_logo_tienda{
    display: flex;
    margin-left: 20px;

}
.menu_item{
    display: flex;
    flex-direction: column;
}
.menu_icono_hamburguesa{
    margin-top: 20px;
    margin-right: 40px;
}


.aside{
    grid-area: aside;
    background-color: rgb(247, 250, 249);
    color: black;
    padding-top: 0%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: stretch;
}
.menu_items_a ul li{
    list-style-type: none;
}
.menu_item{
    display: none;
}
.main{
    grid-area: main;
    display: grid;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
.pag{
    grid-area: pag;
}
.form-select{
    width: 150px;
}
.filtro p{
    margin-bottom: 10px;
}
.card{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    align-content: space-evenly;
}
.card-img-top{
    height: 320px;
    width: 286px;
}
#card1{
    width: 50px;
}
.footer{
    grid-area: footer;
    display: flex;
    background-color: aqua;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    flex-wrap: wrap;
}
.icono_footer{
    display: flex;
}
.pagination{
    display: flex;
    justify-content: center;
}
    

@media screen and (min-width: 576px) {
    .container{
        display: grid;
        grid-template-columns:  20% 80%;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-areas: 
        "header aside" 
        "header main" 
        "footer main";
    }
    .header{
        grid-area: header;
    }
    .aside{
        grid-area: aside;
    }
    .main{
        grid-area: main;
        display: block;
    }
    .car{
        display: grid;
        grid-template-columns:  repeat(4,1fr);
        height:60px;
    }    
    .footer{
        grid-area: footer;
    }
    
}
    
    


   
    
  









